data:
  class_path: pl_modules.CineNpyDataModule
  init_args:
    ksp_dir: /path/to/ksp_dir        # TODO: set to your k-space directory
    mask_dir: /path/to/mask_dir       # TODO: set to your mask directory
    split_json: /path/to/split.json   # TODO: set to your split JSON file (val split used for inference)
    train_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: &num_adj_slices 5
        mask_type: kt_radial
        num_low_frequencies: 24
    val_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: *num_adj_slices
        mask_type: kt_radial
        num_low_frequencies: 24
    num_adj_slices: *num_adj_slices
    batch_size: 1
    distributed_sampler: true

# dataset specific settings
seed_everything: 42
trainer:
  accelerator: gpu
  strategy: ddp
  devices: 4
  num_nodes: 1
  logger: false
  callbacks:
    -
      class_path: __main__.NpyCustomWriter
      init_args:
        output_dir: _predict/cine-npy/test_plus
        write_interval: batch_and_epoch
model:
  class_path: pl_modules.PromptMrModule

ckpt_path: /path/to/checkpoint.ckpt  # TODO: set to your trained checkpoint
