data:
  class_path: pl_modules.CineNpyDataModule
  init_args:
    ksp_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/FullySampled        # TODO: set to your k-space directory
    mask_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/Mask_Radial8       # TODO: set to your mask directory
    split_json: /gpfs/scrubbed/hanruish/cine_recon/codes/baseline/split.json  # TODO: set to your split JSON file (val split used for inference)
    train_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: &num_adj_slices 5
        mask_type: kt_radial
        num_low_frequencies: 24
    val_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: *num_adj_slices
        mask_type: kt_radial
        num_low_frequencies: 24
    num_adj_slices: *num_adj_slices
    batch_size: 8
    distributed_sampler: true

# dataset specific settings
seed_everything: 42
trainer:
  accelerator: gpu
  strategy: ddp
  devices: 1
  num_nodes: 1
  logger: false
  callbacks:
    -
      class_path: __main__.NpyCustomWriter
      init_args:
        output_dir: /gpfs/scrubbed/hanruish/cine_recon/results/PromptMR-plus/Radial8
        write_interval: batch_and_epoch
model:
  class_path: pl_modules.PromptMrModule

ckpt_path: /gpfs/scrubbed/hanruish/cine_recon/codes/baseline/PromptMR-plus/exp/radial8/deep_recon/krrgmjfb/checkpoints/epoch=11-step=26352.ckpt  # TODO: set to your trained checkpoint
