# Training config for cine MRI data in .npy format
#
# Directory layout expected:
#   data_path/
#     ksp/subject001.npy, subject002.npy, ...    # k-space [T, C, H, W] complex
#     mask/subject001.npy, subject002.npy, ...   # masks [T, H, W]
#     sense/subject001.npy, subject002.npy, ...  # sensitivity maps [T, C, H, W] complex
#     split.json                                 # {"train": ["subject001", ...], "val": ["subject003", ...]}
#
# Usage:
#   python main.py fit --config configs/base.yaml --config configs/model/pmr-plus.yaml --config configs/train/pmr-plus/cine-npy.yaml

data:
  class_path: pl_modules.CineNpyDataModule
  init_args:
    data_path: /path/to/your/cine_data  # base directory containing ksp/, mask/, sense/, split.json
    challenge: multicoil
    split_json: null  # defaults to data_path/split.json; set to override
    ksp_dir: ksp
    mask_dir: mask
    sense_dir: sense
    train_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        mask_type: cartesian
        num_low_frequencies: null  # set if your masks have an ACS region
        use_seed: false
    val_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        mask_type: cartesian
        num_low_frequencies: null
        use_seed: true
    num_adj_slices: &num_adj_slices 5
    batch_size: 1
    distributed_sampler: true
    use_dataset_cache_file: false

# dataset specific settings
trainer:
  strategy: ddp
  devices: 4
  num_nodes: 1
  max_epochs: 12
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      save_dir: exp/cine-npy/pmr-plus
      tags: [cine-npy]
      name: cine-npy-pmr-plus
model:
  class_path: pl_modules.PromptMrModule
  init_args:
    lr: 0.0002
    lr_step_size: 11

ckpt_path: null
