# Training config for cine MRI data in .npy format
#
# Data files expected:
#   ksp_dir/   : subject001.npy, subject002.npy, ...    # k-space [T, C, H, W] complex
#   mask_dir/  : subject001.npy, subject002.npy, ...    # masks [T, H, W]
#   sense_dir/ : subject001.npy, subject002.npy, ...    # sensitivity maps [T, C, H, W] complex
#   split_json : {"train": ["subject001", ...], "val": ["subject003", ...]}
#
# Usage:
#   python main.py fit --config configs/base.yaml --config configs/model/pmr-plus.yaml --config configs/train/pmr-plus/cine-npy.yaml

data:
  class_path: pl_modules.CineNpyDataModule
  init_args:
    ksp_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/FullySampled          # directory with fully-sampled k-space .npy files
    mask_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/Mask_Radial8           # directory with sampling mask .npy files
    sense_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/SenseMaps      # directory with coil sensitivity map .npy files
    split_json: /gpfs/scrubbed/hanruish/cine_recon/codes/baseline/split.json    # train/val split file
    challenge: multicoil
    train_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        mask_type: cartesian
        num_low_frequencies: null  # set if your masks have an ACS region
        use_seed: false
        num_adj_slices: &num_adj_slices 5
    val_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        mask_type: cartesian
        num_low_frequencies: null
        use_seed: true
        num_adj_slices: *num_adj_slices
    num_adj_slices: *num_adj_slices
    batch_size: 1
    distributed_sampler: true
    use_dataset_cache_file: false

# dataset specific settings
trainer:
  strategy: ddp_find_unused_parameters_true
  devices: 2
  num_nodes: 1
  max_epochs: 12
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      save_dir: exp/cine-npy/pmr-plus
      tags: [cine-npy]
      name: cine-npy-pmr-plus
model:
  class_path: pl_modules.PromptMrModule
  init_args:
    lr: 0.0002
    lr_step_size: 11

ckpt_path: null
