data:
  class_path: pl_modules.CineNpyDataModule
  init_args:
    ksp_dir: /path/to/ksp_dir        # TODO: set to your k-space directory
    mask_dir: /path/to/mask_dir       # TODO: set to your mask directory
    sense_dir: /path/to/sense_dir     # TODO: set to your sensitivity map directory
    split_json: /path/to/split.json   # TODO: set to your split JSON file
    train_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: &num_adj_slices 5
    val_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: *num_adj_slices
    num_adj_slices: *num_adj_slices
    batch_size: 1
    distributed_sampler: true

# dataset specific settings
trainer:
  strategy: ddp
  devices: 4
  num_nodes: 1
  max_epochs: 12
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      save_dir: exp/cine-npy/pmr-plus
      tags: [cine-npy]
      name: cine-npy-pmr-plus
model:
  class_path: pl_modules.PromptMrModule
  init_args:
    lr: 0.0002
    lr_step_size: 11

ckpt_path: null # add the path to the checkpoint if you want to resume training
