data:
  class_path: pl_modules.CineNpyDataModule
  init_args:
    ksp_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/FullySampled        # TODO: set to your k-space directory
    mask_dir: /gpfs/scrubbed/hanruish/cine_recon/datasets/cmr2025/training/Mask_Radial16       # TODO: set to your mask directory
    split_json: /gpfs/scrubbed/hanruish/cine_recon/codes/baseline/split.json   # TODO: set to your split JSON file
    train_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: &num_adj_slices 5
        mask_type: kt_radial
        num_low_frequencies: 24
    val_transform:
      class_path: data.CineNpyDataTransform
      init_args:
        num_adj_slices: *num_adj_slices
        mask_type: kt_radial
        num_low_frequencies: 24
    num_adj_slices: *num_adj_slices
    batch_size: 8
    distributed_sampler: true

# dataset specific settings
trainer:
  strategy: ddp
  devices: 1
  num_nodes: 1
  max_epochs: 12
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      save_dir: exp/radial16
      tags: [radial16]
      name: radial16
model:
  class_path: pl_modules.PromptMrModule
  init_args:
    lr: 0.0004
    lr_step_size: 11

ckpt_path: null # add the path to the checkpoint if you want to resume training
